div {
    color: black;
    font-style: italic;
}

.divTable1 {
    border:  2px solid lime;
    margin: 10px;
    border:  1px solid black;
    padding: 10px;
}

.divTable1--centr {
    text-align: center;
}

h1{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.Lorem {
    margin: 10px 20px 20px 20px;
    color: red;
}

span {
    font-size: 20px;
    color:red;
}

span.text {
    margin: 30px;
}

.text {
    font-size: 12px;
    margin: 10px;
}

p.text {
    font-family: 'Bruno Ace SC', cursive;
}

.text--TextnomberOne {
    font-size: 16px;
}

.text--TextnomberTwo {
    margin-top: 20px;}

span.text {
    font-size: 25px;
}

.ERROR {
    font-size: 25px; 
    padding-top: 25px;
}
text.ERROR {
    font-family: 'Bebas Neue', cursive;
}
